<% if action_name == 'index' %>

  <tr id="<%= dom_id category %>">
    <td><%= category.name %></td>
    <td><%= category.description %></td>
    <td>
      <%= link_to "Show this category", category, class: 'btn btn-sm btn-outline-success' %>
      <%= link_to "Edit this operation", edit_category_path(category), class: 'btn btn-sm btn-outline-primary ms-2' %>
    </td>
  </tr>

<% else %>

  <div id="<%= dom_id category %>">
    <table class="table table-borderless table-hover">
      <tr>
        <td><strong>Name:</strong> <%= category.name %></td>
      </tr>
      <tr>
        <td><strong>Description:</strong> <%= category.description %></td>
      </tr>
    </table>
  </div>

<% end %>
